@font-face
{
    font-family: 'mojangles';
    src: url(mojangles.ttf);
}
*
{
    margin: 0px;
    padding: 0.1px;
}
.contenedor
{
width:100%;
max-width:1400px;
margin:0 auto;
overflow:hidden;
}
header
{
    background-image: url(header.png);
    width: 100%;
    height: 149px;
    position: fixed;
    z-index: 12;
}
#img1
{
    width: 40%;
    margin-top: 40;
    margin-left: 15;
}
li
{
    float: left;
    list-style: none;
    padding-right: 10%;
    font-size: 20;
}

nav
{
    float: right;
    margin-top: 60;
    margin-right: 80;
    width:20%;
}
a
{
    text-decoration: none;
    font-family: Arial;
    color: white;
}

li:hover a
{
    color: red;
}

#text1
{
    font-family: Arial;
    color: white;
    margin-top: 200px;
    font-size: 30px;
    width: 20%;
}
#text2
{
    font-family: Arial;
    color: white;
    margin-top: 50px;
    font-size: 25px;
}
#version1
{
    font-family: 'mojangles';
    color: white;
    font-size: 20px;
}
#version2
{
    font-family: 'mojangles';
    color: red;
    font-size: 20px;
}
.button1{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.texts
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'mojangles';
    color: white;
}
#audio
{
    display: none;
}
.button2{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#autor
{
    font-family: Arial;
    margin-top: 20px;
    color: red;
}
#autor2
{
    font-family: Arial;
    margin-top: 10px;
    color: white;
}
#images
{
    width: 60%;
    margin-top: 50px;
}
iframe
{
    border-style: none;
    width: 100%;
    height: 149px;
    margin-top: 20%;
}
#logo
{
    width: 8%;
}

#game
{
	width: 57.3%;
	margin-top: 50px;
}
#game:hover
{
	width: 58.3%;
}